<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
  <% include ./partials/head.ejs %>
  </head>
  <body>
    <a href="/"><h1>Tattoo Heaven</h1></a>
    <img class="display" src="<%=tattoo.img%>" alt="<%=tattoo.artist%>"/>
    <div class="descriptors">
      <span> Artist:</span> <%=tattoo.artist%><br/>
      <span>Studio:</span> <%=tattoo.studio%><br/>
      <span>Location:</span> <%=tattoo.location%><br/>
      <span>Date:</span> <%=tattoo.date%><br/>
    </div>
      <div class="spaceholder"></div>
      <% include ./partials/footer.ejs%>
  </body>
</html>
