<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
  <% include ./partials/head.ejs %>
  </head>
  <body>
    <img class="display" src="<%=tattoo.img%>" alt="<%=tattoo.artist%>"/>
    <div class="descriptors">
      <span class="title"> Artist:</span> <%=tattoo.artist%><br/>
      <span class="title">Studio:</span> <%=tattoo.studio%><br/>
      <span class="title">Date:</span> <%=tattoo.date%><br/>
      <a class="btn btn-default back" href="/">Back</a>
    </div>
  </body>
</html>
