<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
  <% include ./partials/head.ejs %>
  </head>
  <body>
    <img class="display" src="<%=tattoo.img%>" alt="<%=tattoo.artist%>"/>
    <div class="descriptors">
      <b>Artist:</b> <%=tattoo.artist%><br/>
      <b>Studio:</b> <%=tattoo.studio%><br/>
      <b>Date:</b> <%=tattoo.date%><br/>
      <a class="btn btn-default back" href="/">Back</a>
    </div>
  </body>
</html>
