<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<body>
  <h1>My Collection</h1>
  <%for(i=0;i<tattoos.length;i++){%>
    <a href="/tattoos/my-collection/<%=i%>">
      <img src="<%=tattoos[i].img%>" alt="<%=tattoos[i].artist%>"/></a>
    <form action="/tattoos/my-collection/<%=tattoos[i].id%>?_method=DELETE" method="POST">
      <input type="submit" value="Delete">
    </form>
    <a href="/tattoos/my-collection/<%=tattoos[i].id%>/edit">Edit</a>
    <%}%>
    <a href="/tattoos/my-collection/create">Create New Item</a>
    <a href="/tattoos">Back</a>
  </body>
  </html>
