<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<% include ../partials/head.ejs %>
</head>
<body>
  <h1>Tattoo Heaven</h1>
  <h2>My Collection</h2>
  <header>
    <ul class='collection-links'>
    <li><a href="/tattoos">Back to Browse</a></li>
    <li><a href="/tattoos/my-collection/create">Upload New Item</a></li>
    </ul>
  </header>
<div class="container">
  <%for(i=0;i<tattoos.length;i++){%>
    <div class="box">
    <a href="/tattoos/my-collection/show/<%=i%>">
      <img class="img-thumbnail" src="<%=tattoos[i].img%>" alt="<%=tattoos[i].artist%>"/></a>
    </div>
    <div class="buttons">
    <form action="/tattoos/my-collection/<%=tattoos[i].id%>?_method=DELETE" method="POST">
      <input class="remove" type="submit" value="Remove from collection">
    </form>
    <a class="btn btn-default edit" href="/tattoos/my-collection/<%=tattoos[i].id%>/edit">Edit</a>
  </div>
    <%}%>
</div>
  </body>
  </html>
