<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<% include ../partials/head.ejs %>
</head>
<body>
  <h1>Tattoo Heaven</h1>
  <img class="display" src="<%=tattoo.img%>" alt="<%=tattoo.artist%>">
  <div class="descriptors">
  <form action="/tattoos/my-collection/<%=tattoo.id%>/edit?_method=PUT" method="POST">
    Artist: <input type="text" name="artist" value="<%=tattoo.artist%>"><br/>
    Studio: <input type="text" name="studio" value="<%=tattoo.studio%>"><br/>
    Date: <input type="text" name="date" value="<%=tattoo.date%>"><br/>
    Image URL: <input type="text" name="img" value="<%=tattoo.img%>">
    <input class="btn btn-default change" type="submit" value="Make Changes">
  </form>
  <a class="btn btn-default back" href="/tattoos/my-collection">Back</a>
</div>
</body>
</html>
