<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<% include ../partials/head.ejs %>
<!-- <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
    <script src="../../jquery.js"></script> -->
</head>
<body>
  <h1>Tattoo Heaven</h1>
  <h2>Welcome, <%=username%></h2>
  <nav>
    <a class='btn btn-default' href="/tattoos/my-collection">My Collection</a>
    <form action="/tattoos/?_method=DELETE" method="POST">
      <input class="btn btn-default logout" type="submit" value="Log Out">
    </form>
  </nav>
  <div class='container'>
  <%for(i=0;i<allTattoos.length;i++){%>
    <div class='box'>
      <a href="/tattoos/show/<%=i%>"><img class='img-thumbnail' src="<%=allTattoos[i].img%>" alt="<%=allTattoos[i].artist%>"></a>
    </div>
    <div class="save">
      <!-- <button class="save-btn" id="<%=i%>">Save</button> -->
      <form class="save-btn" action="/tattoos/my-collection/<%=i%>" method="POST">
          <input type="submit" value="Save">
      </form>
    </div>
  <%}%>
</div>
<% include ../partials/footer.ejs%>
</body>
</html>
