<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
<% include ../partials/head.ejs %>
  </head>
  <body>
    <h1>Tattoo Heaven</h1>
    <img class="display" src="<%=tattoo.img%>" alt="<%=tattoo.artist%>"/>
    <div class="descriptors">
    <span> Artist:</span> <%=tattoo.artist%><br/>
    <span>Studio:</span> <%=tattoo.studio%><br/>
    <span>Location:</span> <%=tattoo.location%><br/>
    <span>Date:</span> <%=tattoo.date%><br/>
    <form action="/tattoos/my-collection/<%=tattoo.index%>" method="POST">
        <input class="btn btn-default save-button" type="submit" value="Save to collection">
    </form>
    </div>
      <div class="spaceholder"></div>
      <% include ../partials/footer.ejs%>
  </body>
</html>
